.header{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.cluster-checkboxes {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* border-right: 1px solid #ccc; */
    padding: 20px 30px;
    /* border-radius: 5px; */
    height: 95vh;
    overflow-y: auto; /* Add scroll if content exceeds max height */
}

.cluster-row {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

#cluster-row-HKEC{
    background-color: #ffc0e0;
}

#cluster-row-HKWC{
    background-color: #98d6ff;
}

#cluster-row-KEC{
    background-color: #edbcff;
}

#cluster-row-KCC{
    background-color: #93ebc2;
}

#cluster-row-KWC{
    background-color: #ec9695;
}

#cluster-row-NTEC{
    background-color: #f0b584;
}

#cluster-row-NTWC{
    background-color: #97cadf;
}

.cluster-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100px;
    font-weight: bold;
    padding-left: 15px;
    font-size: 1.2rem;
}

.hospital-column {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 35px;
    flex: 1;
}

.hospital-column label {
    width: 25%;
    box-sizing: border-box;
    font-weight: bold;
}

label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
}

/* 
buttons
*/
.buttons{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
    font-size: 1rem;
}

#check{
    background-color: #8afcfc;
    padding: 0.6em 2em;
}