.data-container {
    width: 100%;
    overflow: auto;
    height: 99.9vh;
    overflow-x: scroll; /* Enable horizontal scrolling */
}

.inner-container {
    padding: 20px;
    box-sizing: border-box;
}

.total, .last-updated {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    padding-right: 50px;
}

.last-updated{
    font-size: 16px;
}

label{
    display: inline-flex;
    flex-direction: row;
    gap: 3px;
    cursor: pointer;
    font-weight: bold;
    padding-right: 25px;
}

table {
    width: 100%;
    border-collapse: separate;
    font-size: 0.8rem;
    border-spacing: 5px;
}

th:not(:first-child), td:not(:first-child) {
    white-space: nowrap;
}

th, td {
    /* border: 1px solid #ddd; */
    border: 1px solid #d3e4de;
    padding: 3.5px 15px;
    text-align: left;
    width: 100vw;
}

.last-Updated-cell{
    /* min-width: 6.5vw; */
    text-align: center;
    /* white-space: nowrap; */
}

th {
    /* background-color: #f2f2f2; */
    background-color: #CAE8EA;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2; /* Ensure header row is above other content */
}

td {
    background-color: #ffffff;
}

tr:nth-child(odd) td {
    background-color: #f9f9f9;
}

td:first-child, th:first-child {
    font-size: 0.9rem;
    font-weight: bold;
    position: sticky;
    left: 0;
    z-index: 1; /* Ensure first column is above other content */
    background-color: #f2f2f2; /* Match the header background color */
}

th:first-child {
    z-index: 3; /* Ensure the top-left cell is above other sticky elements */
}

@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
    }
}
